/.vs
/MartialRobotsTest/bin
/MartialRobotsTest/obj
/MartianRobots/bin
/MartianRobots/obj
/MartialRobotsTest/TestResults
/MartialRobotsTest/coveragereport
/MartianRobotWebApi/bin
/MartianRobotWebApi/obj
/MartianRobotsTest/TestResults
/MartianRobotWebApi/bin
/MartianRobotWebApi/obj
/MartianRobotsTest/bin
/MartianRobotsTest/obj
/MartianRobotsTest/coveragereport
