.bender-enjoy {
  background-image: url("img/bender.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 130px;
  height: 130px;
}

.sub-title {
  font-size: 1.5em;
  font-weight: bold;
}
